@import url('https://fonts.googleapis.com/css2?family=Texturina&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Texturina';
    background-image: url('./Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(20px);
}

header img {
    width: 180px;
    padding-top: 10px;
}

header nav {}

header nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

#primary-button {
    background-color: white;
    color: #167B63;
    border: none;
    font-weight: bold;
    width: 10rem;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
}

#secundary-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    width: 10rem;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
}

.drop-down {
    background-color: transparent;
    height: 40px;
    width: 40px;
    display: none;
}

.drop-down div {

    border-radius: 3px;
    background-color: white;
    height: 15px;
    width: 15px;
    display: inline-block;
}

.page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.page-title h1 {
    width: 45%;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-top: 7rem;
}

.page-title h3 {
    font-weight: lighter;
    width: 40%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.page-title-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page-title-button button {
    margin: 0 15px 0 0;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 6rem;
    
}


.footer-text h3 {
    color: white;
    font-weight: lighter;
}