@import url('https://fonts.googleapis.com/css2?family=Texturina&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Texturina';
    background-image: url('./Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(20px);
}

header img {
    width: 180px;
    padding-top: 10px;
}

header nav {}

header nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

#primary-button {
    background-color: white;
    color: #167B63;
    border: none;
    font-weight: bold;
    padding: 10px;
    width: 10rem;
    border-radius: 8px;
    cursor: pointer;
}

.drop-down {
    background-color: transparent;
    height: 40px;
    width: 40px;
    display: none;
    border: none;
}

.drop-down div {

    border-radius: 3px;
    background-color: white;
    height: 15px;
    width: 15px;
    display: inline-block;
}

.page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.page-title h1 {
    width: 45%;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-top: 7rem;
}

.page-title h3{
    font-weight: 400;
    width: 40%;
    text-align: center;
    margin-top: 3rem;
}

.page-title-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    width: 100%;
}

.page-title-button button{
    margin: 0 15px 0 0 
}

#secundary-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    padding: 10px;
    width: 10rem;
    border-radius: 8px;
    cursor: pointer;
}

.footer-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 7rem;
}

.footer-text h3{
    color: white;
    font-weight: lighter;
}

@media (max-width: 900px) {
    html {
        font-size: 13px;
    }
   
    body {
        font-family: 'Texturina';
        background-image: url('./Background.jpg');
        background-size: auto;
        background-repeat: no-repeat;
    }

    header img {
        width: 160px;
        padding-top: 10px;
    }
}

@media (max-width: 768px) {
    body {
        background-size: auto;
    }

    header {
        justify-content: space-between;
        padding: 0 40px;
    }

    header img {
        width: 160px;
        padding-top: 10px;
    }

    header nav {
        display: none;
    }

    header #primary-button {
        display: none;
    }

    .drop-down {
        display: block;
    }

    .page-title h1 {
        width: 80%;
    }
    
    .page-title h3{
        width: 65%;
    }

    #primary-button {
        width: 15rem;
    }

    #secundary-button {
        width: 15rem;
    }
}

@media (max-width: 480px) {
    html{
        font-size: 11px;
    }
    body {
        background-size: auto;
    }

    header {
        justify-content: space-between;
        padding: 0 10px;
    }

    .page-title-button {
        flex-direction: column;
    }

    .page-title-button button{
        margin: 10px;
    }

    #primary-button {
        width: 80%
    }

    #secundary-button {
        width: 80%
    }

}